[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyvis = "*"
matplotlib = "*"
networkx = "*"
pydot = "*"
biopython = "*"
phylotreelib = "*"
anytree = "*"

[dev-packages]

[requires]
python_version = "3.9"
